@font-face {
    font-family: 'Neon';
    src: local('Neon'), url(../fonts/Neoneon-3zaD6.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  @font-face {
    font-family: 'Archive';
    src: local('Archive'), url(../fonts/Archive-Regular.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
    
.webDevTitle {
    color:rgb(230, 43, 26, 0.4);
  
}
  .webDevContainer {
      height: 100vh;
      font-family: 'Neon';
      color: rgb(255, 255, 255);
      text-align: center;
      margin-top: 20px;
      scroll-snap-align: start;
  }

  div.carouselWebItem {
      background-color: rgb(230, 43, 26, 0.4);
      border-radius: 20px;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     
  }
  div.carouselStylingWeb {
      display: flex; 
      justify-content: center;
  }

  
  img.WebDevImages {
    height: 85vh;
    width: 100%;
    /* margin: 10px; */
   
    object-fit: cover;
    object-position: top;
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    cursor: pointer;
}

.webAppInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-content: center;
}
h2.projectTitle {
    font-family: 'Archive';
    border-bottom: 3px solid rgb(255, 255, 255);
    
}

p.webAppDesc {
    text-align: left;
    margin-right: 100px;
    margin-left: 100px;
}

ul.webAppLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}
ul.webAppLinks li a {
   text-align: center;
   font-family: "Archive";
    color: rgb(255, 255, 255);
    margin-right: 20px;

}
