@font-face {
    font-family: 'Neon';
    src: local('Neon'), url(../fonts/Neoneon-3zaD6.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

.navTitle {
    font-family: 'Neon';
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 2px rgb(230, 43, 26);
}


.navLinks {
    margin-left:auto;
    display: flex;
    word-spacing: 0px;
    font-family: 'raleway', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 2px rgb(230, 43, 26);
   
}

.leftLink {
    margin-right: 60px;
}

