@font-face {
    font-family: 'Neon';
    src: local('Neon'), url(../fonts/Neoneon-3zaD6.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  @font-face {
    font-family: 'Archive';
    src: local('Archive'), url(../fonts/Archive-Regular.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  form.photoForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  img.previewImage{
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      width: 100%;
      height: 300px;
      
      object-fit: cover;
      border-radius: 20px;
    cursor: pointer;
  }

  img.photoImagesUpload {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}