@font-face {
    font-family: 'Neon';
    src: local('Neon'), url(../fonts/Neoneon-3zaD6.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  @font-face {
    font-family: 'Archive';
    src: local('Archive'), url(../fonts/Archive-Regular.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  .photographyContainer {
      height: 100vh;
      font-family: 'Neon';
      color: rgb(230, 43, 26);
      text-align: center;
      margin-top: 20px;
      scroll-snap-align: start;
  }

  img.photoImages {
      height: 80vh;
      width: 100%;
      /* margin: 10px; */
      object-fit: cover;
      background-position: center;
      border-radius: 20px;
      
      cursor: pointer;
  }
  div.carouselStyle {
   width: 100%;
   display: flex;
   justify-self: center
  }

  .carouselItem {
    background-position: center;
    object-fit: cover;
  }

  a.carousel-control-prev,
  a.carousel-control-next {
      font-family: Archive;

      color: rgb(230, 43, 26);
  }

  a.carousel-control-prev, 
  a.carousel-control-prev-icon {
      margin-left: 30px;
  }
  a.carousel-control-next {
      margin-right: 20px;
  }