.contactContainer {
    height: 100vh;
    scroll-snap-align: start;
      scroll-snap-stop: always;
}

h1.contactTitle {
    padding: 20px;
    letter-spacing: 20px;
    font-family: 'Stranger-Wide';
    color: rgb(237, 154, 31);
      text-align: center;
      margin-right: auto;
      margin-left: auto;
}
.contactAlert{
    color: rgb(237, 62, 31);
   text-shadow: 2px 2px rgb(237, 154, 31);
}

.contactForm {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-shadow: 10px 10px 0px rgb(237, 154, 31);
    border: 2px solid rgb(237, 154, 31);
    border-radius: 10px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

div.contactForm form {

    text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   font-family: "Stranger-Slim";
   font-size: x-large;
}
div.contactForm form div {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    width: 100%;
   
}
div.contactForm form input,
div.contactForm form textarea {
    /* border-radius: 10px; */
    border: none;
    border-bottom: 2px solid rgb(237, 154, 31);
    margin: 10px;
    font-family: "Roestica";
    color:rgb(237, 154, 31);
    padding: 5px;
}

div.row div.nameEmail {
   display: flex;
   flex-direction: row;
  
}
div.row div.nameEmail input.name{
  margin-right: auto;
}

  


button.contactButton {
    border:2px solid rgb(237, 154, 31);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    color: rgb(237, 154, 31);
    
}
button.contactButton:hover {
    background-color: rgb(237, 154, 31);
    color: rgb(255, 255, 255);



}

div.contactResume {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: "Stranger-Slim";
    box-shadow: 10px 10px 0px rgb(237, 154, 31);
    border: 2px solid rgb(237, 154, 31);
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 500px) {

    .contactContainer{
        height: 120vh;
    }
    h2.contactHeader {
        padding-top: 20px;
    }
    
    div.contactForm {
        height: 60vh;
        padding: 0px;
        margin-bottom: 10px;
        
    }
    div.contactForm form {
        flex-direction: column;
        font-size: large;
    }
    div.contactForm form input,
div.contactForm form textarea {
    margin-top: 5px;
    font-size: medium;

}
div.contactForm form textarea {
    height: 150px;
}
    div.contactResume {
        height: 25vh;
        margin-top: 10px;
      
        
    }

}