@font-face {
    font-family: 'Neon';
    src: local('Neon'), url(../fonts/Neoneon-3zaD6.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
@font-face {
    font-family: 'Archive';
    src: local('Archive'), url(../fonts/Archive-Regular.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }


.heroImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/codingPortrait.JPG");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
  
}

.heroTitle {
    color: #eee;
    font-family: 'Neon';
    font-weight: 600;
    font-size: 90px;
    margin-bottom: 0px;
    padding: 10px;
    text-shadow: 2px 2px 3px rgb(230, 43, 26);
    margin-top: 25px;
}
.titleUnderline{
    border: 2px solid #eee;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 570px;
    margin-bottom: 100px;
    margin-top: 0px;
    box-shadow: 2px 2px 3px rgb(230, 43, 26);
}

.heroText {
    color: white;
    font-family: 'Neon';
    font-weight: 500;
    font-size: 80px;
    margin-bottom: 10px;
    padding: 10px;
    text-shadow: 2px 2px 3px rgb(230, 43, 26);
    /* border-bottom: 3px solid white; */
    /* width: 45%; */
    
}
div.heroContainer {
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    text-align: left;
    /* margin-top: 150px; */
   
    
}
/* ---------down arrow ---------*/

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: rgb(250, 250, 250);
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* -------------- mobile------------------- */
@media screen and (max-width: 400px) {

    div.heroContainer{
        margin-left:0px;
        
        
    }
    #heroTop {
        height: 90vh;
    }
    .heroImg {
        height: 90vh;
    }
    .arrows {
        height: 150px;
    }
    .heroText {
        text-align: center;
        font-size: 50px;
    }

    .heroTitle {
        text-align: center;
        font-size: 55px;
        margin-top: 0;
        
    }

   
    .titleUnderline{
        border: 3px solid white;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 95%;
        margin-left: 10px;
        margin-bottom: 150px;
       
        
    }
}